body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  
  align-items: center;
}
.time{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  position: absolute;
  top : 50%;
  min-width:60%;
  height: 8vh;
  background-color: black;
  color: white;
}
#game div {
  height: 200px;
  width: 15%;
  max-width: 50%;
  border: 1px solid black;

  /* margin: 10px; */
  display: flex;

  border-radius: 5px;
}
img{
  width: 100%;
 
  border: 3px red solid;

  background-size: cover;
}

.myDiv {
  transform: rotateY(180deg);
  transition: 1000ms ease-in-out;
}
#game {
  width: 60%;
  height: 60vh;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
button{
  width: 80px;
  height: 40px;
  color: rgb(48, 42, 42);
  background-color: violet;
  
  
}